.page{
background-color: #090C28;
max-height: 100%;
max-width: 250px;
margin-left: 500px;
}

h2{
color: white;
text-align: center;
}

h4{
    color:#303030;
}

label{
display:inline-block;
font-weight: bold;
}

.submitbtn{
    border-radius: 25px;
    background-color: #2B665C; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    width: 200px;
}

.registrationForm
{
background-color: #F1F1F1;
padding-right: 20px;
padding-left: 20px;
}

input[type=text],input[type=date] {
    border-radius: 4px;
  }

  input[type=date]{
    width:165px;
  }

  .adddegree {
    background-color: white;
    border-radius: 10px;
    color: #2B665C;
    border: 2px solid #2B665C; 
    padding: 5px;
    width: 100px;
    font-size: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
    float:right;
  }

  
