<div class="page">
<h2>Registration</h2>

<div class="registrationForm">
<form [formGroup]="RegistrationForm">
  <h4>Contact Information</h4>

  <div class="form-group">
  <label for="mno">Mobile Number</label>
    <input id="mno" type="text" formControlName="mno" ><br>
    <small class="text-danger"
      *ngIf="(f.mno.touched || submitted) && f.mno.errors?.required">
      Mobile Number is required
  </small>
  </div>
  <br>

  <div class="form-group">
    <label for="email">Email Address</label>
    <input id="email" type="text" formControlName="email"
     ><br>
    
    <small class="text-danger"
      *ngIf="(f.email.touched || submitted) && f.email.errors?.required">
      Email is required
  </small>
  <small class="text-danger"
    *ngIf="f.email.touched && f.email.errors?.email">
       Enter a valid email address
  </small>
  </div>
 <br>

  <div class="form-group">
    <label for="fname">Full Name</label>
    <input formControlName="fname" type="text" >   <br>  
    <small class="text-danger"
      *ngIf="(f.fname.touched || submitted) && f.fname.errors?.required">
      Full Name is required
  </small>    
  </div>
<br>

  <div class="form-group">
    <label for="password">Set Password</label>
    <input 
        formControlName="password"
        id="password" 
        type="text" 
        class="form-control">   <br>
        <small class="text-danger"
      *ngIf="(f.password.touched || submitted) && f.password.errors?.required">
      password is required
  </small>
  <small class="text-danger"
      *ngIf="(f.password.touched || submitted) && f.password.errors?.pattern">
      Password, minimum 8 characters, at least 1 special character, at least 1 digit
  </small>
  </div>
  <br>
 
  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input 
        formControlName="confirmPassword"
        id="confirmPassword" 
        type="text" 
        class="form-control"/> <br>
        <span class="text-danger"
              *ngIf="(f.confirmPassword.touched || submitted) && f.confirmPassword.errors?.required">
              Confirm Password is required
          </span>
          <span class="text-danger"
          *ngIf="(f.confirmPassword.touched || submitted) && f.confirmPassword.errors?.mustMatch">Passwords must match</span>      
  </div>
  <br>

  <div class="form-group">
    <label for="confirmPassword">Date of Graduation</label>
    <input type="date" id="date" formControlName="date"><br>
    </div>
    <br>
    <div class="form-group">
      <label for="degree1">Degree1</label>
      <input 
          formControlName="degree1"
          id="degree1" 
          type="text" 
          class="form-control">   <br>
          <span class="text-danger"
              *ngIf="(f.degree1.touched || submitted) && f.degree1.errors?.required">
              degree1 is required
          </span>      
    </div>
    <br>
   
<div formArrayName="degree"> 
  <div *ngFor="let alias of addDegree.controls; let i=index">
    <div class="form-group">
    <label>degree{{i+2}}</label><br>
    <input id="alias-{{ i }}" type="text" [formControlName]="i">
    <br> 
    <span class="text-danger"
              *ngIf="(alias.touched || submitted) && alias.errors?.required">
              degree{{i+2}} is required
          </span>
          
    </div><br>      
    </div>
</div>

<button type="button" class="adddegree"(click)="onAddDegree()">Add Degree</button>&nbsp;&nbsp;
    <div class="form-group">
      <label for="onconfee">Online Consult Fee</label>
      <input 
          formControlName="onconfee"
          id="onconfee" 
          type="text" 
          class="form-control">   <br>
          <small class="text-danger"
      *ngIf="(f.onconfee.touched || submitted) && f.onconfee.errors?.required">
      Online Consult Fee is required
  </small>      
    </div>
    <br>

    <div class="form-group">
      <label for="fee2">In Personal Consult Fee</label>
      <input 
          formControlName="fee2"
          id="fee2" 
          type="text" 
          class="form-control"> <br>
          <small class="text-danger"
          *ngIf="(f.fee2.touched || submitted) && f.fee2.errors?.required">
          In Personal Consult Fee is required
      </small>               
    </div>

    <button type="button" class="submitbtn" (click)="onSubmit()"
    [disabled]="!RegistrationForm.valid">Submit</button>
</form>
</div>
</div>

