<div class="page">
    <h2>Doctor</h2>
   <div class="page_info">
    <P class="title">Registered Doctor</P>
    <div *ngFor="let doctor of doctors; index as i">
        <div class="row">
        <table><tr><td>
        <div class="card">
        <table>
       <tr>
        <th rowspan="2"><img src={{doctor.photo}} class="card-img-top" alt="..."></th>
        <td><p class="fname">{{doctor.fname}}</p></td>
      </tr>
      
      <tr>
        <td>{{doctor.degree}}</td>
      </tr>
       <tr>
        <td><b>Experiance</b></td>
           <td><b>Fees</b></td>
        </tr>
       
        <tr><td>{{doctor.experiance}} Year</td>
            <td>{{doctor.online}}</td>
            <td>In Personal Cunsult</td>
        </tr>

        <tr>
            <td></td>
            <td>{{doctor.offline}}</td>
            <td> Online Consult</td>
        </tr>       
       
        </table> 
         <div class="center">
        <button type="button" class="submitbtn ">Submit</button> 
        </div>   
        </div>
        </td>
        <!-- <button (click)="removeDoctor(i)">remove_circle</button> -->
        <td>
        <button class="removebtn" (click)="removeDoctor(doctor.id)"><img src="./assets/recycle.png" class="removeImg"/></button>
    </td>
    </tr>
        </table>
        </div>
    </div>
<button #i type="button" class="login"  [disabled]="loadMoreBtn" (click)="loadMore()">Load More</button>
<button type="button" class="viewDoctors"  (click)="Gotohome()">Go to home</button>
</div>
</div>
