.login {
  background-color: white;
  border-radius: 25px;
  color: #2B665C;
  border: 4px solid #2B665C; 
  padding: 10px 40px;
  width: 200px;
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
  }

  .viewDoctors {
    background-color: white;
  border-radius: 25px;
  color: #2B665C;
  border: 4px solid #2B665C; 
  padding: 10px 40px;
  width: 200px;
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
  }

  h2{
    color:white;
  }

  p{
    margin-top: 20px;
    font-size: 20px;
  }

  img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: 10px solid transparent;
  }

  .card{
  background-color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  margin-bottom: 10px;
  }

  .fname{
    font-size: 20px;
  }

  .title{
    padding-top: 20px;
    text-align: left;
  }

    .submitbtn{
        border-radius: 25px;
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 5px 20px 5px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px 2px;
        cursor: pointer;
        width: 200px;
    }

    .page_info{
        justify-content: center;
        align-items: center;
    }

    .center{
        justify-content: center;
        align-items: center;
    }

    .removebtn{
      font-size: 10px;
      border: none;
      background: none;
    }

    .removeImg {
      border-radius: 50%;
      height: 20px;
      width: 20px;
      margin-left: 10px;
      border: none;
      background: none;
  }

  .page{
    justify-content: center;
    text-align: center;
  }