.page{
    background-color: #090C28;
    max-height: 100%;
    max-width: 350px;
    margin-left: 500px;
    color:white;
    text-align: center;
    padding-top: 10px;
    }

.register{
    border-radius: 25px;
    background-color: #2B665C; /* Green */
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    width: 200px;
    font-weight: bold;
}

.login {
    background-color: white;
    border-radius: 25px;
    color: #2B665C;
    border: 4px solid #2B665C; 
    padding: 10px 40px;
    width: 200px;
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
  }

  .viewDoctors {
    background-color: white;
    border-radius: 25px;
    color: #2B665C;
    border: 4px solid #2B665C; 
    padding: 10px 40px;
    width: 200px;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 40px;
    font-weight: bold;
  }

  img {
    width:80%;
    height: 250px;
    display: block;
    padding-bottom: 20px;
  }