<div class="page">
    <h2>Register a Doctor</h2>
    <img src="./assets/femaleDoctor.png" alt="Italian Trulli">
    <button type="button" class="register" (click)="register()">Register</button>
    <button type="button" class="login" (click)="login()">Login</button>
    <button type="button" class="viewDoctors" (click)="viewDoctors()">View Doctors</button>
   
 </div>
 