.page{
    background-color: #090C28;
    max-height: 100%;
    max-width: 300px;
    margin-left: 500px;
    }

    h2{
        color: white;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .page_info
    {
    background-color: #F1F1F1;
    padding-right: 10px;
    padding-left: 10%;
    padding-bottom: 100%;
    }

.status{
    padding-top: 20px;
    color: #303030;
    font-size: 20px;
}
.submitbtn{
    border-radius: 25px;
    background-color: #2B665C; /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    width: 200px;
}

.home {
    background-color: white;
    border-radius: 25px;
    color: #2B665C;
    border: 4px solid #2B665C; 
    padding: 10px 40px;
    width: 200px;
    font-size: 20px;
  }