<div class="page">
   <h2>Registration</h2>
   <div class="page_info">
   <p class="status">Thank you</p>
   <h4><b>You have successfully Registered</b></h4>
   <button type="button" class="submitbtn" (click)="login()">Go to Login</button>
   <button type="button" class="home" (click)="home()">Go to Home</button>
   </div>
</div>
