/* You can add global styles to this file, and also import other style files */
.page{
    background-color: #090C28;
    max-height: 100%;
    max-width: 350px;
    margin-left: 500px;
    padding-top: 10px;
    font-family: "Times New Roman", Times, serif;
    }

    .page_info
    {
    background-color: #F1F1F1;
    padding-right: 10px;
    padding-left: 10%;
    padding-bottom: 100%;
    }

    h2{
        color: white;
        text-align: center;
 }
        
